<!DOCTYPE html>
<html>
  <head>
    <title>Haikus for Mona</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Haikus for Mona">
    <meta property="og:description" content="Some of the best haikus you'll ever read about our rescue dog June">
    <meta property="og:image" content="/images/sunlight.jpg">
  </head>
  <body>
    <h1>PUT A TITLE IN HERE</h1>
    <div>PUT SOME WORDS IN HERE</div>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oF24uLmwtnw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</html>
